{% extends 'base.html' %}

{% block content %}
<style>

</style>
<div class="ui center aligned segment">
    <div class="ui loading segment" onclick="changeClass()">
        <h2 class="ui icon header">
            <i class="settings icon"></i>
            <div class="content">
                Usri Rchid
                <div class="sub header">Innovating technology, empowering humanity, and Building The Future.</div>
            </div>
        </h2>
    </div>
    <div class="container-fluid">
        <img class="ui basic huge rounded image centered"
            src="https://cdn.pixabay.com/photo/2015/12/05/08/25/fantasy-1077863_1280.jpg">
        <div class="ui huge header">WELCOME TO MY PORTFOLIO</div>
        <div class="ui two column very relaxed grid">
            <div class="column">
                <p>Welcome to my website! My name is Usri Rchid, and I am a passionate junior developer with a strong
                    focus on networking and web development. I am also enthusiastic about expanding my skills in
                    software development. With a patient and diligent approach to information technology, I strive to
                    continuously learn and grow in this ever-evolving field.</p>
                <button class="ui secondary active button">
                    <i class="paper plane icon"></i>
                    Follow Me
                </button>
            </div>
            <div class="column">
                <p>As a junior developer, I have dedicated myself to studying the intricacies of networking and web
                    development. Networking plays a crucial role in today's interconnected world, and I am fascinated by
                    the way data flows across networks, ensuring seamless communication between devices and users. I am
                    committed to understanding the underlying principles of networking protocols and technologies to
                    create efficient and reliable network solutions.</p>
                <button class="ui black active button">
                    <i class="paper download icon"></i>
                    Download CV
                </button>
            </div>
        </div>
        <div class="ui vertical divider">
            and
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>

</script>
{% endblock %}