{% extends 'base.html' %}

{% block content %}
<div class="ui segment">
    <div class="container five ui   item menu buttons center  text-center p-3 m-2">
        <button class="circular ui red   button item  "><a href="#" class="link-dark">About me</a></button>
        <button class="circular ui olive   button item "><a href="#exp" class="link-dark">Professional
                Experience</a></button>
        <button class="circular ui teal  button item "><a href="#resume" class="link-dark">Resume</a></button>
        <button class="circular ui purple  button item "><a href="#team" class="link-dark">TEAM</a></button>
        <button class="circular ui black  button item "><a href="#skills" class="link-dark">SKILLS</a></button>
    </div>
    <img class="ui big centered rounded image" src="https://images.pexels.com/photos/2417707/pexels-photo-2417707.jpeg">
    <div class="ui piled segment">
        <h2 class="ui block center aligned header" id="about">About me</h2>
        <h4 class="ui header">Every expert was once a beginner.</h4>
        <p>Welcome to my website! My name is Usri Rchid, and I am a passionate junior developer with a strong focus on
            networking and web development. I am also enthusiastic about expanding my skills in software development.
            With a patient and diligent approach to information technology, I strive to continuously learn and grow in
            this ever-evolving field.</p>
        <p> As a junior developer, I have dedicated myself to studying the intricacies of networking and web
            development. Networking plays a crucial role in today's interconnected world, and I am fascinated by the way
            data flows across networks, ensuring seamless communication between devices and users. I am committed to
            understanding the underlying principles of networking protocols and technologies to create efficient and
            reliable network solutions.
        </p>
        <p>In addition to networking, I am also proficient in web development. I enjoy the creative process of designing
            and building websites, utilizing a variety of programming languages, frameworks, and tools. I believe in
            crafting user-friendly and visually appealing web experiences that leave a lasting impression on visitors.
        </p>
        <p>Being a junior developer means embracing the learning journey. I approach every challenge with patience and a
            drive to expand my knowledge and capabilities. I understand the importance of staying up-to-date with the
            latest trends and advancements in software development. By continuously honing my skills and keeping an open
            mind, I am poised to adapt to emerging technologies and contribute to innovative projects.
        </p>
        <p>
            I invite you to explore my website and learn more about my journey as a junior developer. Whether you're
            seeking networking solutions or web development expertise, I am dedicated to delivering high-quality
            results. Thank you for visiting, and I look forward to connecting with you soon.
        </p>
        <div class="container text-center">
            <div class="ui  buttons">
                <button class="ui linkedin button">
                    <i class="linkedin icon"></i>
                    linkedin
                </button>
                <button class="ui github button">
                    <i class="github icon"></i>
                    Github
                </button>
                <button class="ui twitter button">
                    <i class="twitter icon"></i>
                    twitter
                </button>
            </div>
        </div>
    </div>
    <div class="ui raised segment">
        <h2 class="ui block center aligned header" id="exp">Professional Experience</h2>
        <p>In addition to technical skills, my professional experience has taught me the importance of effective
            communication and teamwork. I have collaborated with cross-functional teams, including designers, product
            managers, and quality assurance professionals, to ensure seamless coordination and successful project
            outcomes. I have also had the opportunity to mentor and guide junior developers, sharing my knowledge and
            fostering a collaborative learning environment. Through these interactions, I have learned the value of
            empathy, active listening, and constructive feedback in building strong professional relationships and
            driving project success.</p>
    </div>

    <div class="ui stacked segment">
        <p>I have had the privilege of gaining valuable professional experience in the field of software development.
            Over the years, I have worked with diverse teams and organizations, honing my skills and expanding my
            knowledge. As a software developer, I have been involved in the full software development lifecycle, from
            requirements gathering and design to implementation, testing, and deployment. This experience has given me a
            deep understanding of the importance of collaboration, attention to detail, and delivering high-quality
            solutions that meet the needs of clients and end-users.</p>
    </div>

    <div class="ui tall stacked segment">
        <p>During my professional journey, I have had the opportunity to work on a wide range of projects, each
            presenting unique challenges and opportunities for growth. These projects have spanned various domains,
            including e-commerce, finance, healthcare, and education. Through these experiences, I have developed
            expertise in different programming languages, frameworks, and tools, allowing me to adapt to different
            project requirements and deliver innovative solutions. I have also gained valuable insights into best
            practices, code optimization, and maintaining clean, scalable codebases.</p>
    </div>

    <div class="ui segment">
        <h2 class="ui block center aligned header" id="resume"> Resume</h2>
        <img class="ui centered medium image"
            src="https://cdn.pixabay.com/photo/2017/08/06/22/01/books-2596809_1280.jpg">
        <p>A well-crafted resume is a powerful tool that showcases your professional achievements, skills, and
            experiences to potential employers. As a junior developer with a focus on networking, web development, and
            software development, my resume highlights my educational background, relevant coursework, and any
            certifications I have obtained. Additionally, it showcases my technical skills, including proficiency in
            programming languages, frameworks, and tools. By presenting concise and impactful bullet points, my resume
            effectively communicates my experience in software development projects and highlights any notable
            accomplishments or contributions.</p>
        <p>Beyond technical expertise, my resume also emphasizes my soft skills and professional attributes. It
            highlights my strong problem-solving abilities, attention to detail, and ability to work collaboratively in
            teams. Additionally, it showcases my excellent communication skills, both verbal and written, as well as my
            adaptability and willingness to learn new technologies. By including these qualities in my resume, I aim to
            present a well-rounded professional profile that not only demonstrates my technical competence but also
            showcases my potential to contribute positively to a team and deliver successful projects.</p>
        <img class="ui small centered image"
            src="https://cdn.pixabay.com/photo/2020/08/08/02/56/hacker-5471975_1280.png">
        <p>A well-crafted resume is a powerful tool that showcases your qualifications, skills, and experiences to
            potential employers. As a professional, I understand the importance of creating a compelling resume that
            effectively highlights my strengths and makes a lasting impression. My resume reflects my educational
            background, professional experience, technical skills, and achievements, presenting a comprehensive overview
            of my abilities and suitability for the desired role. By carefully tailoring the content and design of my
            resume, I aim to capture the attention of hiring managers and demonstrate my value as a candidate.</p>
    </div>

    <div class="container text-center">
        <h2 class="ui block center aligned header" id="team">TEAM</h2>
        <div class="ui centered link cards">

            <div class="card">
                <div class="image">
                    <img src="https://cdn.icon-icons.com/icons2/1839/PNG/512/womanglasses21_116010.png">
                </div>
                <div class="content">
                    <div class="header">Usri Rchid </div>
                    <div class="meta">
                        <a>web developer</a>
                    </div>
                    <div class="description">
                        Usri Rchid is an interior web designer developer living in earth.
                    </div>
                </div>
                <div class="extra content">

                    <span>
                        <button class="tiny ui button">
                            Hire me
                        </button>
                    </span>
                </div>
            </div>
            <div class="card">
                <div class="image">
                    <img src="https://cdn.icon-icons.com/icons2/1839/PNG/512/womanglasses30_116001.png">
                </div>
                <div class="content">
                    <div class="header">Usri Rchid</div>
                    <div class="meta">
                        <span class="date">Software engineer</span>
                    </div>
                    <div class="description">
                        Usri Rchid is a software engineer living in earth.
                    </div>
                </div>
                <div class="extra content">
                    <button class="tiny ui button">
                        Hire me
                    </button>
                </div>
            </div>
            <div class="card">
                <div class="image">
                    <img src="https://cdn.icon-icons.com/icons2/1839/PNG/512/womanglasses29_116002.png">
                </div>
                <div class="content">
                    <div class="header">Usri Rchid</div>
                    <div class="meta">
                        <a>DevOps engineer</a>
                    </div>
                    <div class="description">
                        Usri Rchid is a developer working in earth.
                    </div>
                </div>
                <div class="extra content">
                    <button class="tiny ui button">
                        Hire me
                    </button>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <h2 class="ui block center aligned header" id="skills">SKILLS</h2>
    <div class="ui segment">
        <div class="ui two column very relaxed grid">
            <div class="column">
                <div class="ui segment">
                    <h3 class="ui block center aligned header">languages</h3>
                    <div class="ui segments ">

                        <div class="ui segment ">
                            <p class="text-center fs-3 fw-bolder">
                                <span class="text-warning-emphasis ">html</span>/
                                <span class="text-info  ">css</span>
                            </p>
                            <div class="progress-stacked">
                                <div class="progress" role="progressbar" aria-label="Segment one" aria-valuenow="35"
                                    aria-valuemin="0" aria-valuemax="100" style="width: 35%">
                                    <div class="progress-bar bg-warning  progress-bar-striped progress-bar-animated">35
                                    </div>
                                </div>
                                <div class="progress" role="progressbar" aria-label="Segment two" aria-valuenow="25"
                                    aria-valuemin="0" aria-valuemax="100" style="width: 25%">
                                    <div class="progress-bar bg-info progress-bar-striped progress-bar-animated">25
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="ui segment">
                        <p class="text-center fs-3 fw-bolder text-danger-emphasis">python</p>
                        <div class="progress" role="progressbar" aria-label="Success striped example" aria-valuenow="50"
                            aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar bg-danger progress-bar-striped progress-bar-animated"
                                style="width: 55%">55%
                            </div>
                        </div>
                    </div>
                    <div class="ui segment">
                        <p class="text-center fs-3 fw-bolder text-warning">javascript</p>
                        <div class="progress" role="progressbar" aria-label="Danger striped example" aria-valuenow="30"
                            aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar bg-warning progress-bar-striped progress-bar-animated"
                                style="width: 30%">
                                30%</div>
                        </div>
                    </div>
                    <div class="ui segment">
                        <p class="text-center fs-3 fw-bolder"><span class="text-primary">c</span> /<span
                                class="text-success">c++</span>
                        </p>
                        <div class="progress-stacked">
                            <div class="progress" role="progressbar" aria-label="Segment one" aria-valuenow="25"
                                aria-valuemin="0" aria-valuemax="100" style="width: 25%">
                                <div class="progress-bar progress-bar-striped progress-bar-animated">35</div>
                            </div>
                            <div class="progress" role="progressbar" aria-label="Segment two" aria-valuenow="25"
                                aria-valuemin="0" aria-valuemax="100" style="width: 25%">
                                <div class="progress-bar bg-success progress-bar-striped progress-bar-animated">25</div>
                            </div>

                        </div>
                    </div>
                    <div class="ui segment">
                        <p class="text-center fs-3 fw-bolder text-secondary">lua</p>
                        <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="0"
                            aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar text-black bg-dark-subtle progress-bar-striped progress-bar-animated"
                                style="width: 10%">
                                0%
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="column">

                <div class="ui segment">
                    <h3 class="ui block center aligned header">frameworks</h3>
                    <div class="ui segment">
                        <p class="text-center fs-3 fw-bolder text-danger-emphasis">bootstrap</p>
                        <div class="progress" role="progressbar" aria-label="Success striped example" aria-valuenow="33"
                            aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar bg-danger progress-bar-striped progress-bar-animated"
                                style="width: 35%">35%
                            </div>
                        </div>
                    </div>
                    <div class="ui segment">
                        <p class="text-center fs-3 fw-bolder text-primary-emphasis">flask</p>
                        <div class="progress" role="progressbar" aria-label="Success striped example" aria-valuenow="40"
                            aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar text-black bg-primary-subtle progress-bar-striped progress-bar-animated"
                                style="width: 40%">40%
                            </div>
                        </div>
                    </div>
                    <div class="ui segment">
                        <p class="text-center fs-3 fw-bolder text-warning">django</p>
                        <div class="progress" role="progressbar" aria-label="Danger striped example" aria-valuenow="0"
                            aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar  bg-warning progress-bar-striped progress-bar-animated "
                                style="width: 10%">
                                0%</div>
                        </div>
                    </div>

                    <div class="ui segment">
                        <p class="text-center fs-3 fw-bolder text-primary">react js</p>
                        <div class="progress" role="progressbar" aria-label="Danger striped example" aria-valuenow="0"
                            aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar  bg-primary progress-bar-striped progress-bar-animated "
                                style="width: 10%">
                                0%</div>
                        </div>
                    </div>

                    <div class="ui segment">
                        <p class="text-center fs-3 fw-bolder text-success">node js</p>
                        <div class="progress" role="progressbar" aria-label="Danger striped example" aria-valuenow="0"
                            aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar  bg-success progress-bar-striped progress-bar-animated "
                                style="width: 10%">
                                0%</div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="ui vertical divider">
            and
        </div>
    </div>

    <div>

        <h2 class="ui block center aligned header">Quotes</h2>
        <div class="ui segment">
            <div class="ui horizontal segments">
                <div class="ui segment">
                    <div class="card p-3 text-end">
                        <figure class="mb-0">
                            <blockquote class="blockquote">
                                <p>In the beginner's mind there are many possibilities, in the expert's mind there are
                                    few.</p>
                            </blockquote>
                            <figcaption class="blockquote-footer mb-0 text-body-secondary">
                                Someone famous in <cite title="Source Title">Faye dunaway</cite>
                            </figcaption>
                        </figure>
                    </div>
                </div>
                <div class="ui segment">
                    <div class="card p-3 text-end">
                        <figure class="mb-0">
                            <blockquote class="blockquote">
                                <p>Nothing is impossible, the word itself says 'I'm possible'!
                                </p>
                            </blockquote>
                            <figcaption class="blockquote-footer mb-0 text-body-secondary">
                                Someone famous in <cite title="Source Title">Audrey hepburn</cite>
                            </figcaption>
                        </figure>
                    </div>
                </div>
                <div class="ui segment">
                    <div class="card p-3 text-end">
                        <figure class="mb-0">
                            <blockquote class="blockquote">
                                <p>The mind is not a vessel to be filled but a fire to be ignited.</p>
                            </blockquote>
                            <figcaption class="blockquote-footer mb-0 text-body-secondary">
                                Someone famous in <cite title="Source Title">Plutarch</cite>
                            </figcaption>
                        </figure>
                    </div>
                </div>
            </div>
            <div class="ui horizontal segments">
                <div class="ui segment">
                    <div class="card p-3">
                        <figure class="p-3 mb-0">
                            <blockquote class="blockquote">
                                <p>You don’t have to be great to start, but you have to start to be great.</p>
                            </blockquote>
                            <figcaption class="blockquote-footer mb-0 text-body-secondary">
                                Someone famous in <cite title="Source Title">Zig Ziglar</cite>
                            </figcaption>
                        </figure>
                    </div>
                </div>
                <div class="ui segment">
                    <div class="card p-3">
                        <figure class="p-3 mb-0">
                            <blockquote class="blockquote">
                                <p>The expert in anything was once a beginner.</p>
                            </blockquote>
                            <figcaption class="blockquote-footer mb-0 text-body-secondary">
                                Someone famous in <cite title="Source Title">Helen Hayes</cite>
                            </figcaption>
                        </figure>
                    </div>
                </div>
                <div class="ui segment">
                    <div class="card p-3">
                        <figure class="p-3 mb-0">
                            <blockquote class="blockquote">
                                <p>Success is the sum of small efforts, repeated.</p>
                            </blockquote>
                            <figcaption class="blockquote-footer mb-0 text-body-secondary">
                                Someone famous in <cite title="Source Title">R. Collier</cite>
                            </figcaption>
                        </figure>
                    </div>
                </div>
            </div>

        </div>
    </div>



</div>


<script>
    $(document).ready(function () {

        // jQuery methods go here...
        $('.card').hover(function () {
            $(this).css("background-color", "LightGray");
            $(this).css(" color", "black");
            $(this).addClass("text-uppercase");
            $(this).fadeOut().fadeIn();
            $(this).fadeOut("slow").fadeIn("slow");
            $(this).fadeOut(3000).fadeIn(3000);
        }, function () {
            $(this).css("background-color", "Gray");
            $(this).css("color", "white");
        });


    });

</script>
{% endblock %}