{% extends 'base.html' %}

{% block content %}
<style>

</style>



<div class="ui inverted segment">
        <button class="fluid  red ui button"><a href="/todo" class="link-light" target="_blank"
                        rel="noopener noreferrer">TODO
                        List py</a></button>
        <div class="ui inverted divider"></div>
        <button class="fluid  green ui button"><a href="/monster" class="link-light" target="_blank"
                        rel="noopener noreferrer">MONSTER</a></button>
        <div class="ui inverted divider"></div>
        <button class="fluid  violet ui button"><a href="/blog" class="link-light" target="_blank"
                        rel="noopener noreferrer">Blog</a></button>
        <div class="ui inverted divider"></div>
        <button class="fluid  teal ui button"><a href="/generate_password" class="link-light" target="_blank"
                        rel="noopener noreferrer">generate password py</a></button>
        <div class="ui inverted divider"></div>
        <button class="fluid orange  ui button"><a href="/dice" class="link-light" target="_blank"
                        rel="noopener noreferrer">Dice js</a></button>
        <div class="ui inverted divider"></div>
        <button class="fluid  green ui button"><a href="/passwordJS" class="link-light" target="_blank"
                        rel="noopener noreferrer">generate password js</a></button>
        <div class="ui inverted divider"></div>
        <button class="fluid blue ui button"><a href="/landing" class="link-light" target="_blank"
                        rel="noopener noreferrer">landing page </a></button>
        <div class="ui inverted divider"></div>
        <button class="fluid purple ui button"><a href="/dayNight" class="link-light" target="_blank"
                        rel="noopener noreferrer">DAY & NIGHT</a></button>
        <div class="ui inverted divider"></div>
        <button class="fluid yellow ui button"><a href="/portfolio0" class="link-light" target="_blank"
                        rel="noopener noreferrer">portfolio</a></button>
        <div class="ui inverted divider"></div>
        <!-- add hrere new project -->
        <button class="fluid  olive ui button">Fits container</button>
        <h4 class="ui horizontal inverted divider">
                <div class="ui inverted segment">
                        <div class="ui  active centered inline loader"></div>
                        <div class="ui indeterminate text loader">Coming soon</div>

                </div>
        </h4>
</div>
{% endblock %}